# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: kde-la-c <kde-la-c@student.42madrid.com>   +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2023/05/07 14:36:57 by kde-la-c          #+#    #+#              #
#    Updated: 2023/05/07 14:37:02 by kde-la-c         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

a.out
.DS_Store
*.o
*.a
dbg*
*.dSYM

push_swap
push_swap_visualizer
push_swap_tester
optimization_scripts/*
!optimization_scripts/*.sh
checker_*
ret
